node_modules

# Prisma
/src/generated/
/prisma/generated/

# Output
.output
.wrangler
dist/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*