@import 'tailwindcss';

@theme {
  --color-background: #F5F5F5;
  --color-letters: #191919;
  --color-green: #237A36;

  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--color-background);
  color: var(--color-letters)
}

.button-principal {
  @apply px-8 py-2.5 text-lg rounded-md bg-green text-background hover:bg-green/80 transition duration-500
}